html, body {
  overflow-x: hidden;
}

body {
  font-family: ExpositBlack;
  font-feature-settings: "ss01" on, "ss02" off, "ss03" on;
  font-variant-ligatures: none;
  color: #121212;
  background-color: #FAD8D3;
  margin: 0;
  width: 100vw;
}

h1, h2, h3, h4 {
  font-family: ExpositBlack;
  font-feature-settings: "ss01" on, "ss02" off, "ss03" on;
  font-variant-ligatures: none;
  color: #4D2DA9;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 92px;
}

h2 {
  font-size: 44px;
  line-height: 100%;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 18px;
}

.h29 {
  font-size: 29px !important;
}

.outline {
  text-shadow: -3px 3px 0 #FAD8D3, 3px 3px 0 #FAD8D3, 3px -3px 0 #FAD8D3, -3px -3px 0 #FAD8D3;
}

p {
  font-size: 18px;
}

.justify {
  text-align: justify;
}

.primary-color {
  color: #4D2DA9;
}

p, li {
  color: #4D2DA9;
  font-size: 16px;
  line-height: 140%;
  margin: 4px 0;
}

a {
  color: #121212;
}

a.white {
  color: #FAD8D3;
}

a:visited {
  color: #121212;
}

a.white:visited {
  color: #FAD8D3;
}

.white {
  color: #FAD8D3 !important;
}

.red {
  color: #D0545C;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

#dynamic {
  text-decoration: underline;
}

section {
  padding: 0px 36px 0 36px;
  margin: 24px 0;
  max-width: 100vw;
}

.bg-purple {
  background-color: #4D2DA9;
}

.p1 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.mb0 {
  margin-bottom: -4px;
}

.mb1 {
  margin-bottom: 24px;
}

.mt0 {
  margin-top: -4px;
}

.mt1 {
  margin-top: 32px;
}

.mt-1 {
  margin-top: -32px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.h-center {
  align-items: center;
}

.flex-item {
  flex: 1;
  margin-right: 42px;
}

.flex-item:last-child {
  margin-right: 0;
}

.mc-field-group {
  display: flex;
  flex-direction: column;
}
.mc-field-group label {
  font-family: ExpositBlack;
  color: #4D2DA9;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.mc-field-group #mc-embedded-subscribe {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.hero {
  width: 100vw;
  position: relative;
  max-height: 90vh;
}
.hero video {
  width: 0;
  opacity: 0;
  max-height: calc(90vh - 4px);
  object-fit: cover;
}
.hero #videoFilter {
  background-color: #4D2DA9;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.4;
  height: calc(100% - 4px);
  mix-blend-mode: hard-light;
}
.hero img.logo {
  object-fit: cover;
  width: 80%;
  top: 180px;
  position: absolute;
  left: 10%;
}
.hero #instagram {
  position: absolute;
  right: 24px;
  bottom: 24px;
  background-color: #FAD8D3;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: rotate 8s infinite forwards linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  z-index: 100;
  position: absolute;
  left: 0;
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 900;
  width: calc(100vw - 36px - 36px);
  padding: 36px 36px 0 36px;
}
nav a {
  text-decoration: none;
}
nav img {
  width: 64px;
  object-fit: fill;
}
nav h4 {
  text-align: right;
  font-size: 14px !important;
}

img {
  width: 100vw;
  object-fit: cover;
}

img.small {
  width: 48px;
  object-fit: cover;
}

img.square {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
}

.button, button {
  font-family: ExpositBlack;
  font-feature-settings: "ss01" on, "ss02" off, "ss03" on;
  font-variant-ligatures: none;
  display: block;
  padding: 14px 26px 14px 16px;
  font-size: 22px;
  border-radius: 36px;
  border: none;
  width: 100%;
  margin: 18px 0;
  text-align: center;
}

.button {
  width: auto;
}

.bt1 {
  background-color: #D0545C;
  color: #FAD8D3;
}

.bt2 {
  background-color: #FAD8D3;
  color: #4D2DA9 !important;
}

.bt3 {
  background-color: #4D2DA9;
  color: #FAD8D3;
  cursor: pointer;
}

input {
  font-family: ExpositBlack;
  font-feature-settings: "ss01" on, "ss02" off, "ss03" on;
  font-variant-ligatures: none;
  display: block;
  padding: 14px 26px 14px 16px;
  font-size: 22px;
  border-radius: 36px;
  border: 4px solid #4D2DA9;
  max-width: 60%;
  margin: 0 !important;
  text-align: left;
}

a, a:visited {
  color: #FAD8D3;
  text-decoration: none;
}

.mt1 {
  margin-top: 8vh;
}

.mt2 {
  margin-top: 24px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 72px;
  text-align: left;
}
footer h2, footer h4 {
  color: #D0545C;
}

#desktop-only {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 200px;
  text-align: left;
  right: calc((100vw - 400px) / 2 - 240px);
  opacity: 0.4;
  transition: opacity 300ms ease;
}
#desktop-only h4 {
  color: #FAD8D3;
  font-size: 16px;
}

#desktop-only:hover {
  opacity: 1;
}

@media only screen and (min-width: 500px) {
  html {
    background-color: #121212;
  }

  body {
    width: 400px;
    margin: 0 auto;
  }

  img {
    max-width: 400px;
  }

  img.square {
    width: 400px;
    height: 400px;
  }

  nav {
    width: calc(400px - 36px * 2);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .hero {
    max-width: 400px;
  }
  .hero img.logo {
    max-width: 400px;
  }

  #desktop-only {
    display: block;
  }
}

/*# sourceMappingURL=base.css.map */
